[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
"boto3" = "*"
koku-nise = "*"
pyyaml = "*"
azure-storage-blob = "*"
oci = "*"

[dev-packages]

[requires]
python_version = "3.8"
